
@media screen and (max-width: 1199px) {
    .detail-card{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
    .detail-card-image{
        justify-content: space-evenly !important;
        padding-bottom: 20px !important;
        padding-top: 20px !important;
    }
}
   
@media screen and (max-width: 991px) {
    .prod-desc{
        
    }
}
    



@media screen and (max-width: 414px) {
    .size-selector{
        display: block !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
}
    

